body {
  background-color: #f3f3f3;
}

body {
  color: #34495e;
}

.btn {
  cursor: pointer;
}

.clicked {
  color: #7f8c8d;
}

.form {
  display: none;
}
.greetings {
  display: none;
}

.showing {
  display: block;
}
